.contact-header {
  font-size: 2rem;
  text-align: left;
  margin: auto;
  color: #2f394b;
}

.city {
  color: #2f394b;
  margin: auto;
}
.contact-info {
  color: #2f323dc5;
  background-color: #ffffffd8;
  padding: 30px;
  border-radius: 10px;
  margin: 80px auto 10px auto;
  cursor: pointer;
}
.contact-page
{
  margin: 50px 30px;
}
@media only screen and (min-width: 600px) {
  .contact-header {
    font-size: 3rem;
    text-align: left;
    color: #2f394b;
    margin: 60px;
  }

  .contact-info {
    margin: 80px auto 10px auto;
    width: 50%;
  }

  .city {
    margin: 60px;
  }
}
